@media screen and (min-width: 768px){
  .imgSizeAnotherWorld {
    width: 40%;
    height: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .backButtonAnotherWorld {
    position: relative;
    margin-left: 98%;
    margin-top: 1%;
  }
  
  .backGroundAnotherWorld {
    background-color: #fff;
    border: black 1px solid;
    box-shadow: 1px 1px 10px 10px #888888;
  }
}