.headerContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.headerLikesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}